[2019-04-20 07:09] hhsecond opened #4 "Can't initiate two repository with different paths in the same python session"
I found an issue with initiating the repository again and again in the same python session even if the repository path is different. Because of the singleton nature of `Environment` class, regardless of the path, we pass for a repository, all the following repositories will have the path of the first repository (Is this something we desire to have?)

The below script can reproduce the issue. The l

[2019-04-20 07:18] hhsecond opened #5 "Fetched data is not same as saved data"
In the same python session, if we initiate dataset twice and then save the data with same shape and type as the first instance, we won't get the data that we saved in the second instance. Instead, we'll get the data from first instance. Here is the script to reproduce.

[code]

[2019-04-22 07:24] hhsecond opened #6 "AttributeError on data removal"
While trying to remove the data with `.remove(key)`, hangar raises `AttributeError: 'DatasetDataWriter' object has no attribute 'TxnRegister'`.

[2019-04-22 07:25] hhsecond commented on #6
It looks like a typo. Will fix it once verified.

[2019-04-22 13:10] rlizzo commented on #6
This is definitally a typo. Good catch. The offending line is here:

https://github.com/tensorwerk/hangar-py/blob/master/src/hangar/dataset.py#L410

Instead it should be a call to `self._TxnRegister` which is defined here:

https://github.com/tensorwerk/hangar-py/blob/master/src/hangar/dataset.py#L81

[2019-04-26 09:42] hhsecond opened #12 "Exception handling"
The way we are handling the exception is not user-friendly and has to be changed. This issue is to discuss it further. After thinking about it for some time, I think it's better to raise an exception rather than returning the exception object, as Rick suggested.  Here are the cases I have found out so far where we are not raising the exception instead of pushing it to stderr/stdout. I'll add more

[2019-04-26 13:11] hhsecond opened #13 "Dataloaders for PyTorch"
@rlizzo I was thinking an API like `hangar.dataloaders.pytorch` (let me know if you have another structuring in your mind). Basically, the idea is to load data in batches synchronously or asynchronously and enable the features of PyTorch [DataLoader](https://pytorch.org/docs/stable/data.html#torch.utils.data.DataLoader). My plan is to have a Dataset class and a DataLoader class which is essentiall

[2019-04-29 12:52] hhsecond commented on #12
Hey @rlizzo,  Have you got a chance to run through this? As far as I could think, raising an exception in all the cases (even for minor issues) is the best we could do unless we don't want to put the whole stack trace onto user's CLI (we could still use exception hooks to suppress those messages if we want). Or do you have some other reasons to use the bool return instead of raising exceptions tha

[2019-04-30 00:53] rlizzo commented on #12
Hey @hhsecond, sorry I needed a few days to really think about this.

I think you're completely right. We should be just raising exceptions for this. I'd like to stick to the Python standard library exception classes for now. As far as the stack traces go, they might print alot to the screen, but I think it's OK for now (if anything it'll help us debug any user bug reports); getting pretteir trace

[2019-04-30 10:23] hhsecond commented on #12
Hey @rlizzo, no worries and thanks a lot for taking this for me. I even had started this in a separate branch but then thought of discussing with you about the design. I am keeping this issue opened at least until I finish both local and remote testing. I'll open more PRs if required in the future given that now I know what should be the way forward for exceptions.

[2019-04-30 10:30] hhsecond opened #18 "Dockerizing the server"
## Expected Behavior
We need to have docker image for server instance. I'll try to work on it over the weekend

[2019-04-30 13:23] rlizzo commented on #12
ok. all these changes are merged in #16

[2019-04-30 13:50] rlizzo commented on #18
Ok. let's discuss this before you go ahead and do a bunch of work. I have a suspicion that lmdb's use of `shared memory` resources, and the need for robust `volume` configuration will result in a few pain points here.

The remote server implementation is super simple right now, it needs a few health check and monitoring hooks before we could even begin to debug a dockerized version. I would priori

[2019-04-30 14:47] hhsecond commented on #18
Make sense. Then I'll start the remote test before doing the dockerization. That should give me some insight into the details.

[2019-04-30 21:19] rlizzo commented on #6
Fixed in https://github.com/tensorwerk/hangar-py/pull/16

[2019-04-30 21:20] #6 closed

[2019-04-30 21:49] rlizzo commented on #4
So I think for right now it would be best to not allow this usage pattern. It's something I would like to fix, but I don't think it's particularly high on the priority list right now.

To really solve this problem we should get rid of the Singleton's scattered around the codebase. They could probably be removed in the hdf5FileHandler and TransactionRegister with only mild headaches if we were to t

[2019-04-30 21:54] rlizzo commented on #5
This is related to #4

[2019-04-30 22:36] rlizzo commented on #4
So i may have to eat my words here a bit with #20. It actually seems to be a decent solution to this issue... though we still . will want to kill the singletons hanging around the codebase sometime in the future.

[2019-05-01 06:09] rlizzo commented on #13
So before we go ahead with this we should have a batched get method for the regular dataset method. If we get that right we can keep most of the functionality in the hangar base while making it really easy to plugin to the pytorch and tensorflow data loader framework

[2019-05-01 15:37] rlizzo opened #21 "Singletons live indefinitly"
With the bugfixes to #5 #4 in PR: #20, environment handle singletons can now potentially live indefinitly as there is no cleanup method.

Is there a way to GC the objects without introducing an explicit `.close()` method on the repository?

Tag @lantiga for discussion here.

[2019-05-01 15:39] #5 closed

[2019-05-01 15:40] #4 closed

[2019-05-01 15:41] rlizzo commented on #12
@hhsecond i'll leave it to you to close this issue when you feel it is appropriate. It's good for me right now.

[2019-05-02 01:07] rlizzo opened #24 "Environment Singleton Needed?"
I think we should at least give the option of cleaning up the singletons (either a specific one or all of them). In general I'm not 100% sure why we need a singleton (or something like it) design-wise, can you explain in a one-liner?

_Originally posted by @lantiga in https://github.com/tensorwerk/hangar-py/pull/20#issuecomment-488382678_

[2019-05-03 06:15] hhsecond opened #28 "Checkout as a context manager"
## Expected Behavior
Making checkout as a context manager let the users avoid writing explicit `close()` and we can make sure the lock is released. Keeping the current functionality along with this new ability should be the way to go.

[code]
We could either raise a warning if context manager exits without commit or we can even do commit implicitly (by having another argument `autocommit=True` in

[2019-05-06 04:55] rlizzo opened #30 "Add docstrings."
Add docstring to the `bulk add` function at:

https://github.com/tensorwerk/hangar-py/blob/4e5ec90d78d80cf1bb1550910ea8d76b5eee5737/src/hangar/dataset.py#L743

[2019-05-06 06:34] rlizzo commented on #28
I like the idea, but this requires some real thought and testing before it could ever be implemented

My main concern is how this would affect `lmdb transaction` handling for the `Dataset` and `Metadata` classes. As noted [In the Documentation](https://hangar-py.readthedocs.io/en/latest/tutorial.html#performance) we get massive performance increases by using context managers for reading/writing da

[2019-05-06 06:58] #30 closed

[2019-05-07 00:57] rlizzo commented on #12
Closing due to inactivity

[2019-05-07 00:57] #12 closed

[2019-05-07 09:57] hhsecond commented on #28
While I really like the user-friendliness of making CM here, you sort of convinced me that moving all the heavy lifting that happens in Dataset/Metadata level CM to repo level is not worth the pain right now. But I think, making repository also a CM while keeping the heavy lifting as it is (i.e. in Dataset/Metadata level) should be helpful. Plus we could keep the normal (naked) way of accessing re

[2019-05-07 10:10] hhsecond opened #33 "`init_dataset` raises zerodivision error if shape tuple contains zero"
## Expected Behavior
[code]
This should raise a sensible error

## Current Behavior
The above raises ZeroDivision error

## Steps to Reproduce (for bugs)
[testcase](https://github.com/tensorwerk/hangar-py/pull/26#discussion_r281061006)

[2019-05-07 12:39] hhsecond opened #35 "Need to raise proper exceptions in metadata operations"
## Expected Behavior
- Metadata addition with invalid type needs to explicitly tell the user what happened
- Metadata addition with read-checkout should raise `PermissionError'
- Metadata addition with an illegal key name should raise `ValueError`

## Current Behavior
Both the cases raise `AttributeError` now

## Steps to Reproduce (for bugs)
[testcase for 1](https://github.com/tensorwerk/hangar-p

[2019-05-07 13:29] hhsecond opened #36 "Dataset object is operatable even after closing the checkout"
## Expected Behavior
After closing the checkout, the dataset object should not be operatable. We need to decide what all are possible on the dataset object though. So far, we know
1. User should not be able to add data.
2. User should not be able to fetch data

## Current Behavior
1.
[code]
2.
[code]

These issues are part of #25
- https://github.com/tensorwerk/hangar-py/pull/25#discussion_r281058

[2019-05-07 13:33] hhsecond opened #37 "Not catching merge conflicts"
## Expected Behavior
Hangar currently not catching merge conflicts properly. This issue keeps a track of all the test cases those expects the conflict error and could be fixed along with #32

## Current Behavior
- [Metadata](https://github.com/tensorwerk/hangar-py/pull/27#discussion_r281062478)
- [Dataset](https://github.com/tensorwerk/hangar-py/pull/25#discussion_r281067549)

[2019-05-07 13:45] hhsecond opened #38 "Branch removal"
## Expected Behavior

[code]

## Current Behavior
NotImplemented

## Steps to Reproduce (for bugs)
https://github.com/tensorwerk/hangar-py/pull/25#discussion_r281060529

[2019-05-07 13:52] hhsecond opened #39 "LockHeld check is failing"
## Expected Behavior
Lockheld check at diff.py should verify whether the lock is held or not
https://github.com/tensorwerk/hangar-py/blob/044937c5a00fa48bd2889cce878648404645591d/src/hangar/diff.py#L237

## Current Behavior
Execution never reaches there

## Steps to Reproduce (for bugs)
https://github.com/tensorwerk/hangar-py/pull/25#discussion_r281060389

[2019-05-07 15:39] rlizzo commented on #28
So essentially the entire purpose of the CM checkout block would be to ensure that the writer lock is closed?

[2019-05-07 15:46] rlizzo commented on #37
#32 should catch all relevant conflicts. test suite seems to show that it does right now.

[2019-05-07 15:48] rlizzo commented on #39
Good catch!

[2019-05-07 16:01] rlizzo commented on #38
This will be for after the 0.1.0 release.

[2019-05-07 16:17] rlizzo commented on #36
So the problem with this is that it's stupidly simple to fix, but adds more the the increasing list of verifications which need to occur in order to get or add data to a dataset/metadata object... we need some benchmarks soon before we "verify" ourselves into a tight spot here.

Note: Most of the explanation below is for `write-enabled` checkouts, since that is the really dangerous case where this

[2019-05-07 16:18] rlizzo commented on #36
Also pinging @lantiga since this is fairly critical

[2019-05-07 16:28] rlizzo commented on #36
Ok. So I'm wondering if there isn't a way to invalidate any calls to the underlying `lmdb transactions` when a checkout is closed instead of explicitly doing a verification call each time. There may be hope here

[2019-05-07 16:39] rlizzo commented on #21
This is a duplicate of #24.

[2019-05-07 16:39] #21 closed

[2019-05-07 16:40] rlizzo commented on #24
From #21:

[2019-05-07 19:58] rlizzo commented on #36
This is actually much more convoluted then it needs to be, `weakref proxies` solve this problem really elegantly.

https://docs.python.org/3/library/weakref.html

I have a prototype now, should have the fix pushed in the next few hours

[2019-05-08 05:55] hhsecond commented on #28
Right (for now) and the user could avoid writing two more lines (for commit and close). Plus, it's up to the user whether they need to use the CM or the naked version.

[2019-05-08 10:05] hhsecond opened #44 "[BUG REPORT] Testcases are not running for python 3.7"
**Describe the bug**
Python 3.7 test cases are not running. Yaml file only triggers docs env

**Severity**
- [ ] Data Corruption / Loss of Any Kind
- [ ] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck

[2019-05-10 12:18] hhsecond opened #46 "[BUG REPORT] Exceptions from non-initialised repository is not informative"
**Describe the bug**
Most (if not all) of the operations on non-initialized repository throws Exceptions like AttributeError. It either should return proper error message or an empty object, at least for operations like `.log()` /`.summary()` etc.

**Severity**
Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [x] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottlen

[2019-05-11 18:23] hhsecond opened #47 "[BUG REPORT] Hangar can't handle dataset with empty dimension"
**Describe the bug**
If the shape of the dataset is empty i.e. `shape=()` or `prototype=np.array(1)`, hangar is not designed to handle it properly. Instead, it throws an error while committing -> `ValueError: invalid literal for int() with base 10: ''
`

**Severity**
Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [x] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance B

[2019-05-13 15:29] rlizzo opened #48 "Demo for Example Usage"
High level demo for users.

[2019-05-15 16:15] hhsecond opened #49 "[BUG REPORT] Traversing through dataset data records is buggy"
**Describe the bug**
The function `RecordQuery._traverse_dataset_data_records(self, dataset_name)` is has a critical bug which related to the condition check we are doing to make sure we are checking for the provided dataset (This must be same with `_traverse_dataset_schema_records` function as well since the logic is similar there as well). If the repository has multiple datasets where one's name

[2019-05-16 13:32] rlizzo commented on #44
Is this for the appveyor/travis CI? Or for local builds?

If for local builds, (when running with `tox`) if python 3.7 isn't available in the standard environment paths (conda is not supported) then that version of the tests wont run.

[2019-05-16 13:52] hhsecond commented on #44
I was talking about [this](https://travis-ci.org/tensorwerk/hangar-py/jobs/533202509). It's in our configuration. Test cases are not running for 3.7 in travis

[2019-05-16 14:21] rlizzo commented on #44
Ok. It's not a bug. That is the test to make sure the docs build. The full tests are run separately. See the jobs listed here

https://travis-ci.org/tensorwerk/hangar-py/builds/533202508

[2019-05-16 14:22] #44 closed

[2019-05-16 19:30] #49 closed

[2019-05-16 20:03] #47 closed

[2019-05-17 04:07] rlizzo commented on #36
closed in #41

[2019-05-17 04:07] #36 closed

[2019-05-17 05:15] rlizzo commented on #39
fixed in #52

[2019-05-17 05:15] #39 closed

[2019-05-17 10:54] hhsecond opened #53 "[BUG REPORT] References are rewritten on commit"
**Describe the bug**
With the new weakref logic, ideally, hangar's user-facing objects such as dataset/metadata are weak references to the actual object and it gets removed on `checkout.close()`. But since we are rewriting `self._datasets` & `self._metadata` here
https://github.com/tensorwerk/hangar-py/blob/deeeafc96e683317578a81233fadb0248a2c39c4/src/hangar/checkout.py#L336-L341
on `commit` (not

[2019-05-17 20:01] rlizzo commented on #53
Hey @hhsecond, thanks for spotting this! I've got a fix up in #54 if you want to take a look?

[2019-05-17 22:15] rlizzo commented on #28
Ok. To put this in writing, I'm good with this. I don't know when I'll have time, so I'm going to leave this as help wanted for a bit

[2019-05-22 19:51] rlizzo opened #55 "[FEATURE REQUEST] Do not close checkout on staging area `hard reset`"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- In https://github.com/tensorwerk/hangar-py/pull/54 we introduced a fix to the `checkout.commit()` and `checkout. reset_staging_area()` methods which allow correct behavior on previously checked out objects after close. The first for the

[2019-05-23 03:48] rlizzo commented on #53
Fixed in #54

[2019-05-23 03:48] #53 closed

[2019-05-23 12:05] rlizzo opened #56 "[BUG REPORT] Test Cases Needed for New Merge/Diff Logic and API"
**Describe the bug**
A clear and concise description of what the bug is.

Test cases are needed for the changes introduced in #32.

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [ ] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck

N/A

**To Reproduce**
Steps to reproduce the behavior, minimal example code preffered:

Run the tests

**Expect

[2019-05-23 14:25] rlizzo commented on #37
closed from #32

[2019-05-23 14:25] #37 closed

[2019-05-23 14:40] #46 closed

[2019-05-24 04:12] #33 closed

[2019-05-24 04:12] #35 closed

[2019-05-24 19:20] rlizzo opened #66 "Package on Conda Forge"
With the latest release, create a conda forge package for hangar

[2019-05-29 04:28] rlizzo commented on #66
Staged recipe PR in progress.

See: https://github.com/conda-forge/staged-recipes/pull/8468

[2019-05-29 19:57] rlizzo opened #68 "[FEATURE REQUEST] Model Storage"
**Is your feature request related to a problem? Please describe.**
Allow binary model storage for trained models

**Describe the solution you'd like**
A clear and concise description of what you want to happen:

- a new class in the checkout objects which allows for binary storage of model blobs

[2019-05-29 20:32] rlizzo commented on #68
@lantiga let's continue our discussion here.

[2019-05-30 01:33] #66 closed

[2019-05-30 18:47] hhsecond commented on #68
@rlizzo Why did we close this?

[2019-05-30 18:49] rlizzo commented on #68
Sorry that was a mistake!

The long and short of it is that I'm leaning more towards not implementing this. I'll post more comments about my rationale later, but me and Luca talked today and came to similar conclusions.

[2019-05-30 19:39] rgalbo opened #71 "[FEATURE REQUEST] Simple Command Line Interface ~~ hang ~~"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when

I want to use hanger (hang) at the terminal!

**Describe the solution you'd like**

I would like

[code]

[code]

**Describe alternatives you've considered**

**Additional context**

there are many simple cli for python. even the base cli tool m

[2019-05-31 00:48] rlizzo commented on #71
Hi Rick,

Thanks for the comment!

Hangar actually already includes  a working (though very limited) CLI as of the latest (0.1.1) release. This should be working for both source builds & installations via `pip` / `conda`. You should be able to just run:

[code]
from the command line to see the current abilities.

As you've noticed, we haven't included any user-facing documentation of this feature.

[2019-05-31 18:10] rlizzo opened #72 "[FEATURE REQUEST] Command line options to import and export typical data file types to a dataset/checkout"
_Note: The feature as detailed below was initially proposed by @lantiga in an offline phone call._

**Is your feature request related to a problem? Please describe.**
_A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]_

In order to improve the command line experience, Hangar should provide built in tools to import common data file types stored in a direct

[2019-05-31 18:54] rlizzo commented on #68
Ok. so for reference, I've decided (with input from @lantiga) that **we will not implement this** inside of hangar. The rationale is this:

- Keeping trained models alongside data in a hangar repository would be akin to adding compiled executables to commits alongside the code used to generate those executables in a `Git` repository.

  - Hangar's primary purpose is to act as a distributed version

[2019-05-31 18:56] rlizzo commented on #55
This should be fixed as a result of the backend changes included in #70

[2019-05-31 19:28] hhsecond commented on #68
@rlizzo These points make absolute sense and keeping hangar a tool for "data" (only) is probably the best way of handling it as a project/product since hangar is designed to store numerical arrays. But, In that case, just hangar is going to be useful for a niche crowd because we are essentially trying to solve a problem which most of the people in the industry is not worried about or they are too

[2019-05-31 21:25] lantiga commented on #68
Hey @rlizzo and @hhsecond.

After sleeping on this, I think all we should still allow users to store binary blobs as a special case of the current functionality. Either store a blob as a dataset of one sample, where the sample is a byte array, or treat it as meta data (we may not be able to due to size considerations, not sure).
So, not have _explicit_ support for models as a concept per se, but a

[2019-05-31 21:27] lantiga commented on #24
@rlizzo is your latest WIP making this one obsolete?

[2019-06-01 00:06] rlizzo commented on #24
Yup! This will be gone as well as the HDF5 Singleton.

Linking this to #70 for future reference.

[2019-06-01 00:07] rlizzo commented on #48
WIP. See #62

[2019-06-01 11:47] hhsecond commented on #13
@rlizzo I made the skeleton of the dataloader base class #73 . Adding features such as batching, shuffling to the base dataloader is not required as of now since both PyTorch and Tensorflow does that quite well. They just need an object from where they could get one sample at a time. In my view, the base class can be inherited and make advanced dataloaders inside hangar itself when it's required i

[2019-06-02 02:49] rlizzo commented on #68
@lantiga : I suppose blob stores are a fair compromise here. If we go that route, I would keep essentially the same conventions (and probably just use most of the code) we define for metadata, namely:

- single level key value store where keys must be assigned a name by the user. Values must be raw bytes.
- none of the intelligent diff/merge inference methods will be used like for numerical arrays

[2019-06-02 03:01] rlizzo commented on #68
@hhsecond for the sake of not duplicating a bunch of documentation I've already written about the benefits of storing you data via the `Hangar` "philosophy", I'm going to point you to [This Section Of the Docs](https://hangar-py.readthedocs.io/en/latest/concepts.html#implications-of-the-hangar-data-philosophy).

Let me know if that addresses your point. It's extremely valid, and if the current exp

[2019-06-02 03:03] rlizzo commented on #56
Hi @hhsecond, can I assign this to you? I know you were starting to dig into the `diff` and `merger` internals the other day, and since this is stable (even considering the changes introduced in #70), its a good project which we won't duplicate effor on.

[2019-06-03 05:54] hhsecond commented on #56
@rlizzo Sure, I'll take it up.

[2019-06-08 13:01] hhsecond commented on #72
Adding my thoughts here
- We could make these installable plugins which could then be utilised by users as a template for their own import/export utilities (long shot perhaps but I think it's good to design it in this way and probably make the basic file types preinstalled)
- A bunch of audio format we could support -> mp3, wav, aac, ogg, flac, avr, cdda, cvs/vms, aiff, au, amr, mp2, mp4, ac3, avi

[2019-06-08 17:30] hhsecond commented on #68
@rlizzo I have re-read the docs and here are my thoughts about the changes required. Let me know what do you think.

**The Domain-Specific File Format Problem:**
- The benefit of keeping it in particular file format is intractability. With hangar, users are loosing it (to a great extent). We probably need to answer this concern in the doc (also, with import/export we could handle this)
- Would be

[2019-06-14 00:21] rlizzo commented on #55
Fixed in #70

[2019-06-14 00:21] #55 closed

[2019-06-14 00:22] rlizzo commented on #24
Fixed in #70

[2019-06-14 00:22] #24 closed

[2019-06-14 16:08] elistevens opened #79 "[FEATURE REQUEST] Multi-tensor samples from complex data sources"
**Is your feature request related to a problem? Please describe.**
I want to know how to accomplish the following. It doesn't need to require zero effort on the user's part, but there needs to be a clear best-hangar-practices path to a workable setup.

Take a source data format that is complex (e.g. DICOM, JPEG) and infeasible to reconstitute bit-exact from the tensor+metadata form. Each instance

[2019-06-27 22:50] lantiga commented on #79
Hey @elistevens, thanks for your patience, we should have gotten to this earlier.

So, that’s right, a Dataset in Hangar maps to a single schema (a single collection of tensors). A Repo, on the other hand, can have more than one Datasets, so, for instance, to store data where two different pieces of info sit alongside each other you’d have a Repo with two Datasets. The samples in the dataset would

[2019-06-30 02:59] elistevens commented on #79
Perhaps confusion would be reduced if the Dataset/Sample classes were renamed to Tensorset/Tensor?

That would free up Sample to be "one or more Tensors" and Dataset to be "a collection of Samples."

I'm imagining a PyTorch Dataset subclass like:

[code]

It's going to be confusing if all of those items in the `tensorset_list` are instances of something called a `Dataset`.

[2019-07-01 09:13] hhsecond opened #80 "[FEATURE REQUEST] Ability to delete data from the history"
**Is your feature request related to a problem? Please describe.**
Currently, we can't delete data from history once it is committed. Since in some cases where the end user triggers a data deletion request, organizations who use hangar for data storage and versioning will have to delete it from everywhere including history

[2019-07-01 15:21] hhsecond opened #81 "[BUG REPORT] Commit inside context manager throws RuntimeError"
**Describe the bug**
If we try to commit inside the context manager (before `__exit__()`), hangar throws RuntimeError saying `No changes made in the staging area. Cannot commit.`. We should allow the user to do commits inside the context manager IMO but probably with a warning about the performance hit

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [x] Unexpected Behav

[2019-07-01 15:22] hhsecond commented on #81
@lantiga I remember telling you this won't break the program instead raise an issue. I was wrong. It raise a `RuntimeError` and crashes

[2019-07-01 19:17] lantiga commented on #79
Hey @elistevens, I for one like the name change quite a lot. It gives us the ability to free up the concepts for a later higher-level implementation of proper Datasets and Samples. We really need to avoid any possible confusion around the mental model, and this is a good step in that direction.

I'll let @rlizzo and @hhsecond chime in too, but this is a +1 for me.

[2019-07-01 19:30] lantiga commented on #81
@hhsecond ok, thanks for bringing this up. One question (also cc @rlizzo): is there any other fundamental issue (current or future) that makes it important to not commit within the context, other than performance?

I think throwing an exception is not wrong in itself. The intention for the context is to group operations that you can then commit, so enforcing no commits reinforces that intention. @

[2019-07-02 05:02] hhsecond commented on #81
So here are my thoughts.
- I don't think there are any other fundamental issues. Correct me if I am wrong @rlizzo
- I agree throwing an exception is not wrong if that's what we decide to do. But then the error message should explicitly say it instead of `No changes made in the staging area. Cannot commit.` which is confusing
- We can definitely catch the exception but if the user knows he/she shou

[2019-07-03 06:23] rlizzo commented on #79
Hey Eli, sorry for the delayed response here (it's been rather hectic lately, but i'm back in the groove now 😄). Addressing some of the points (in no particular order)

### Nested Collections of Related Data Schemas

In some of the very first hangar prototype implementations, we had a much deeper hierarchy of containers for data which essentially would have grouped what we now think of as a `"Data

[2019-07-03 06:49] rlizzo commented on #80
@lantiga, Can you comment on how regulations outlined in the GDPR may drive the need for such a feature?

#### TLDR: This isn't possible with the current architecture, it is likely never possible to be fully enforceable, and we _may_ not want to enable such features in the first place.

So there are a few issues that may not make this possible without some serious thought here:

1) Hangar is distr

[2019-07-03 07:54] rlizzo commented on #81
**So here's the good news**: There's no risk of data corruption here. When the exception is thrown, the context manager cleanup (CM) logic ensures that any data/record buffers are flushed to disk and persisted. In addition, if the user doen't try to catch the `RuntimeError` from the calling application, nothing actually happens during the commit logic - the (false-positive) error is thrown before

[2019-07-03 08:03] hhsecond commented on #81
Sounds good!

[2019-07-03 17:47] elistevens commented on #79
@rlizzo to be clear, I don't need Hangar to be an end-to-end, out of the box solution. I just want to make sure there's a clear, documented "this is the right way to solve this class of problems with Hangar" path forward.

Having multiple Tensorsets with the same set of keys and using that to build training samples by pulling the same key from each Tensorset (plus metadata as needed) should work f

[2019-07-03 18:24] elistevens commented on #80
I think that the legal angle is going to become increasingly important. On one side, you have GDPR, DCMA, etc. and on the other are the risks of accidentally vacuuming up something unsavory from the web. It doesn't really matter if some client somewhere still has the content; what matters is that the user who has been notified that they have some content to remove can comply without burning down t

[2019-07-04 17:45] rlizzo commented on #80
### Intro

I can see how the legal aspects alone make this almost a certain requirement in the future.. But it's going to be quite a challenge to implement. We may want to talk to some experts to understand what the regulations actually require before spending what will likely be a significant chunk of development time on this.

It's actually a rather interesting problem to think about; it's _defi

[2019-07-04 18:29] rlizzo commented on #79
### On the ability to perform multi `dataset` operations

Ok, i misunderstood the original question a bit! Sorry! What you're actually wanting to do is actually already available via the `checkout.datasets.add` function. However, it currently works only for non-named dataset samples; allowing named samples as well isn't a problem (I'll make an issue to remove this restriction now). From the corres

[2019-07-05 01:59] rlizzo commented on #48
closed in #62

[2019-07-05 01:59] #48 closed

[2019-07-05 18:05] elistevens commented on #80
I think that you're trying to solve a much larger problem than you actually need to. I don't know enough about the internal implementation to propose a concrete solution, but I think that this should be close enough to inspire something that actually works.

Let's say you've got 4 tensors(`Samples` right now). They contain the following:

- The complete text of War and Peace (legally fine; public

[2019-07-05 18:12] elistevens commented on #79
I thought that samples had a place to store things like patient age/sex/smoking history, or JPEG lat/long, etc. alongside the actual tensor. That's the metadata I mean.

Also, FYI, your terminology of "non-named dataset samples" seems confusing to me. It sounds like you're talking about datasets that auto-key Tensor-Samples added to them, vs. situations where the user provides the key. Is that rig

[2019-07-05 19:40] rlizzo commented on #80
So I should actually clarify a few important point about the internals:

1) the full content of each sample is used to generate the hash (there is no internal chunking or splitting of data/digests at this level)

2) if a sample has the same digest as some other tensor (sample) added to the repository (at any point throughout history) the data is not actually written to disk again, we just referenc

[2019-07-05 20:29] rlizzo commented on #79
So we actually removed that long ago (before the initial commit was made public) in favor of keeping everything as tensors stored in datasets. Right now that info could either be stored as related samples in another dataset (with appropriate size of the row, etc.) or in the top level (text based) `metadata` container.

The rationale is that the hangar core should be kept as simple as possible, hav

[2019-07-05 21:13] lantiga commented on #79
I think at this point we could give the idea of sample-level metadata a minute. It would be very convenient to keep track of provenance for a tensor (the URI of the file or resource it was generated from, for instance, or the meta data for a Dicom series). This would allow to potentially regenerate something close to the source data if needed.

We could keep such metadata as a blob in LMDB. I’m gu

[2019-07-06 21:46] rlizzo commented on #79
I'm going to take a day or two to think. I can see the benefit, but the implementation needs to be figured out. Making it work would be trivial, but making this multithread safe would be difficult (I have a Branch where Read checkouts are now completely thread and process safe, increasing throughput linearly with core count). Lmdb doesn't tend to play nice in these aspects.  Ill go into more detai

[2019-07-07 00:56] rlizzo commented on #13
Hey @hhsecond it's going to be time to revisit this soon. I have a Dev branch where Read checkouts are thread and process safe (which includes a batched loader as well). I'm going to propose it in a PR in the next day or so, but we should coordinate on how this will plug in.

[2019-07-07 16:09] hhsecond commented on #13
Sure thing. I'll have a look into that PR before we could get into a call or something

[2019-07-08 10:23] hhsecond opened #86 "[FEATURE REQUEST] Accept intigers as sample name"
**Is your feature request related to a problem? Please describe.**
Sample additions become more intuitive for a beginner if we enable sample name to be integers

[2019-07-08 12:57] rlizzo commented on #86
Totally agreed. I've been wanting to add this for a while. Ive got a design for how to do this, just haven't found the time. Now that #78 is merged its probably time.

[2019-07-09 21:50] elistevens commented on #79
I don't have any concrete use cases, nor am I certain that the "just more tensors" approach wouldn't work for anything I came up with.

I had been imagining using it to filter or shape the data in some way.  Something like "cancer stage" for a binary tumor classifier that a PyTorch Dataset could use to balance the training data across stages, even if training samples of a given class are over-repr

[2019-07-09 22:12] elistevens commented on #80
Separate out the "remove user1's data" use case, since that's not the same thing. Maybe one mechanism can solve both, maybe not. There, the problem isn't "24", it's the _association_ of the tensors that make up `user1`.

I have been assuming that there's a separation between the objects that represent the state of the repo, and the data storage that contains the actual tensor bytes, similar to how

[2019-07-10 08:14] hhsecond commented on #80
@elistevens The problem I could see with replacing a data piece with tombstone comes back to the same thing @rlizzo mentioned -> what if two commits (data of two people) points to the same data piece in the storage layer. As in the above example, if user 1 deletes his/her data, and user 4 doesn't, we need to keep the data piece intact but somehow remove the pointer of user1's hash to the actual da

[2019-07-10 15:29] elistevens commented on #80
Again, that's a different use case, because "age: 24" isn't the same thing as the complete text of harry potter, and fixing it will require a different approach.

For the case where you need to delete `(username: user1, fname: james, lname: smith, age: 24)` it's the association that's the problem, not the data itself. I don't have any clever ideas on how to solve that without blowing up all of the

[2019-07-11 17:07] rlizzo commented on #86
Update  I've got this in a Dev branch I'll submit as a PR soon.

[2019-07-11 17:37] rlizzo commented on #80
@elistevens I think this is the fundamental difference in assumptions that we are making which are leading us to different conclusions. From the perspective of Hangar, I don't think there should be a distinction between `types` of deleted data. It'll get very very messy if that's the case. While the tombstone: `"trust us, this existed and worked with this hash at one point in time"` is fine in the

[2019-07-11 17:57] elistevens commented on #80
I think that what you're calling "deleted data" there is just "not available on HEAD of this branch" right?  You could still check out an older commit and the "deleted" data would still be there, right?

My desire is to have a mechanism where the data is 100% unavailable. If you're shipping a repo that has a copyright violation, it doesn't really matter if you have to check out an old commit to ge

[2019-07-11 18:03] rlizzo commented on #80
Not quite. I'm saying that if you delete data in HEAD, the changes will propagate through history from the initial point that the data was added to the repo. That's why there's so many issues with history.

[2019-07-11 18:12] rlizzo commented on #81
Any update on this @hhsecond?

[2019-07-11 18:46] elistevens commented on #80
Oh, yeah, rebasing everything from the moment the problematic data was added forward is going to be awful. The whole point of tombstones is to avoid that in the cases where it's only the data bytes that are problematic.

[2019-07-11 19:06] rlizzo commented on #80
Yeah... considering there's not even a `rebase` function included in Hangar yet, I think we have a ways to go until we can implement this feature cleanly.

At the very least, we should take this thread and archive the discussion and potential solutions on our docs page for future reference. (though I'm still interested in @lantiga's opinion)

@elistevens, Would you be available for a con-call one

[2019-07-11 19:12] rlizzo commented on #56
Fixed in #76

[2019-07-11 19:12] #56 closed

[2019-07-12 11:44] hhsecond commented on #13
@rlizzo Do you have a preferred directory structure for including `dataloaders`? Also, I am thinking of the API as `hangar.dataloaders.TorchLoader`

[2019-07-12 11:47] hhsecond commented on #81
@rlizzo Not yet, will have it in my TODO soon, probably by Wednesday unless you want me to take it up sooner

[2019-07-12 11:54] rlizzo commented on #13
I don't have a preferred structure right now. Let's take a look a simple implementation and we can restructure as needed from there.

I also like the `hangar.dataloaders.foo` for now. Since the use facing functions are very limited, we can probably just hoist the `TorchLoader` / `TensorflowLoader` functions up to the top level (`from hangar import TorchLoarder`) but that can happen with `__init__.

[2019-07-12 11:54] rlizzo commented on #81
That's ok. Just wanted to ping for an update here.

[2019-07-12 11:58] hhsecond commented on #13
If you want use init file for importing and stuff, we'll have to keep the data loader folder inside hangar folder (importing a level above the package is not recommended in python although we can work around it)

[2019-07-12 11:59] rlizzo commented on #18
Once the changes in #85 are merged we may want to revisit this

[2019-07-12 17:57] rlizzo commented on #13
Good point. We could get fancy with the packages spec in `setup.py`, but it's probably not worth the hastle.

Why don't you go ahead and put it in the `src/hangar` directory for now, and we can figure out where it lives once we know what everything looks like?

[2019-07-15 13:34] lantiga commented on #80
Hey! Late to the party it seems, but great discussion.
By reading the whole thread, a few comments come up.

For the time being, tombstones are going to be the only viable solution to me.
Also, (it might be obvious but it's useful to keep in mind) we are just storing tensors, not records like `(username: user1, fname: james, lname: smith, age: 24)`.

The issue with privacy might be in different sp

[2019-07-15 16:16] lantiga commented on #68
Reviving this thread. Especially with partial fetch, I still think we should provide the ability to store individual blobs and version them. In fact they would behave like single-tensor dsets, maybe with a dedicated data store that just writes the blob to disk as a file instead of relying on a HDF5 file.
Apart from this detail, we already have everything we need, we may only think about how to mak

[2019-07-15 20:13] #86 closed

[2019-07-16 14:08] hhsecond opened #90 "[FEATURE REQUEST] IterableDataLoaders from PyTorch"
**Is your feature request related to a problem? Please describe.**
PyTorch has an IterableDataset in the upcoming release which we can plug into Hangar. Keeping this issue to track the PyTorch release and integrate it when it is time

[2019-07-16 15:03] rlizzo opened #92 "[BUG REPORT] license fixes"
**Describe the bug**
A clear and concise description of what the bug is.

Move code which contains other license files - for config (from dask) and Git log graph - to individual modules

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [ ] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck
- [x] other

Tagging @elistevens as fyi

[2019-07-17 19:13] elistevens opened #93 "[BUG REPORT] New repo creation is unfriendly"
**Describe the bug**

The message `HANGAR RUNTIME WARNING: no repository exists at /some/path/__hangar, please use init_repo function` makes me think my script is doing something wrong, even though the next thing that I do is call `repo.init()`.

Additionally, if the path does not exist, there should be an option to have it be created.

A single default param `exists=True` flag could handle both c

[2019-07-18 03:54] rlizzo commented on #93
Thanks for the report @elistevens. there are still a few warnings/log messages which really need to be removed now that the project is approaching a more polished state. We'll add it to the todo list before 0.2

[2019-07-18 04:13] elistevens commented on #93
It's not particularly urgent, I don't think.

[2019-07-18 13:40] rlizzo commented on #93
On another note Eli, what do you think about us naming the hangar folder with two underscores rather than a dot. `/Foo/for/__hangar` rather than `foo/dir/.hangar`

I'd like it to have the hidden one of the property and general sense of "don't go in this folder unless you know what you're doing" that a `"."folder"` provides, but considering that the amount of data contained in these folders can gro

[2019-07-18 16:31] elistevens commented on #93
I think that should be driven entirely by a clearly communicated expected use case. I was surprised that there was an extra directory level at all, but that's due to my expectations not being set properly.

Here's an example expected use case that I think could make sense (but is by no means the only one that would):

- dir named `.hangar/`
- lives next to `.git/`
- adds a line to `.gitignore` to

[2019-07-18 20:38] rlizzo commented on #93
So Im currently at the point where u consider the intermediate directory as definitely being important. The original idea was to model it like git. Keeping the code and data together makes a lot of sense intuitively. Sure, larger installations can do whatever they want, but to get started All you need to do is point the hangar client to you projects directory, and go. People understand that workfl

[2019-07-18 20:47] rlizzo commented on #93
It might be helpful to have a file written in the container director on initialization which basically say

[code]

[2019-07-18 21:09] elistevens commented on #93
`.hangar.README.md` IMO.

[2019-07-19 04:06] rlizzo commented on #71
Hi @rgalbo, this has been updated in #85, there is not a `commit` or `merge` option. It is on the TODO list however.

Just wanted to provide you with an update.

[2019-08-03 20:07] rlizzo commented on #81
Fixed in #94

[2019-08-03 20:07] #81 closed

[2019-08-03 22:27] rlizzo commented on #38
This is being pushed to the 0.3 release due to time limitations for the 0.2 release

[2019-08-03 23:45] rlizzo commented on #92
closed in #100

[2019-08-03 23:45] #92 closed

[2019-08-04 22:37] rlizzo commented on #93
This has been addressed on #101! Thanks @elistevens!

[2019-08-04 22:37] #93 closed

[2019-08-09 20:59] rlizzo commented on #90
Closed in #91

[2019-08-09 21:00] rlizzo commented on #71
Will close after #103 is merged!

[2019-08-09 21:01] #71 closed

[2019-08-09 21:01] rlizzo commented on #13
Closed in #91

[2019-08-09 21:01] #13 closed

[2019-08-09 21:02] rlizzo commented on #28
Closed with #84

[2019-08-09 21:02] #28 closed

[2019-08-09 21:10] rlizzo opened #109 "[BUG REPORT] Ability to Add Data with Fewer Dimensions than Schema in Variable Sized Dataset"
**Describe the bug**
A clear and concise description of what the bug is.

ability to add arrays with fewer dimensions (and not just smaller dimension sizes) to an `arrayset` with `variable_size=True` schema.

Though the current implementation does not support this, it won't allow records to be added in this fashion, instead forcing a ValueErrorto be raised - basically, it's a bug, but one we  have

[2019-08-09 22:20] elistevens commented on #109
This doesn't seem like a bug to me.  I can add an `.unsqueeze(0)` call if needed.

[2019-08-11 15:12] hhsecond commented on #90
@rlizzo we don't have `IterableDataLoader` supporter in #91. This is something PyTorch released in 1.2 and we need to address this in 0.3.

[2019-08-25 16:28] elistevens opened #118 "[FEATURE REQUEST] Importers that consume tf or pytorch Dataset, and can produce identical Datasets after"
**Is your feature request related to a problem? Please describe.**
Existing DL projects are already going to have a data pipeline. Often, these are going to result in tf or pytorch Datasets. Having to replace all of the existing mechanisms by which those datasets are created and managed with hangar-specific code is a barrier to adoption.

**Describe the solution you'd like**
I think that import ro

[2019-08-26 01:21] rgalbo opened #119 "[BUG REPORT]"
**Describe the bug**
A clear and concise description of what the bug is.

current pip install is missing google requirement. `import hangar` fails because `google` is missing

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [ ] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck

**To Reproduce**
Steps to reproduce the behavior, minimal example c

[2019-09-04 17:38] rlizzo commented on #118
This is a phenomenal idea @elistevens! Will put this on the roadmap!

[2019-09-04 17:40] rlizzo commented on #119
Hey @rgalbo, Thanks for the bug report! I don't know how, but we missed the `protobuf` dependency in the pip package. Will fix this ASAP!

[2019-09-04 17:41] rlizzo commented on #119
for a quick fix, just `pip install protobuf` and you should be good

[2019-09-05 11:07] rlizzo commented on #109
Upon further discussion with @elistevens we decided this was not a bug and would remain as a restriction for the time being. In the end this is one less check that a user has to do when reading or writing data.

[2019-09-05 11:09] #109 closed

[2019-09-05 19:08] rlizzo commented on #118
@hhsecond, would you have time to put together the first draft of this for the next release? (after 0.3)

[2019-09-06 01:45] hhsecond commented on #118
Sounds good

[2019-09-06 15:06] #72 closed

[2019-09-07 22:50] rgalbo commented on #119
should this issue be closed? i see that `protobuf` has now been added to `setup.py`

[2019-09-10 08:48] rlizzo commented on #119
Closed with release 0.3. Thanks for the help!!

[2019-09-10 08:48] #119 closed

[2019-09-18 06:57] hhsecond opened #122 "[FEATURE REQUEST] Repository description"
It's good to have an option to set repository description on `repo.init`

[2019-09-19 05:56] hhsecond opened #123 "[BUG REPORT] repo log doesn't return branch information when return_contents is True"
**Describe the bug**
A clear and concise description of what the bug is.
`repo.log()` prints branch information to the terminal while `repo.log(return_contents=True)` doesn't return branch information

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [x] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck

[2019-10-02 18:35] rlizzo opened #126 "Support Tensorflow 2.0 Release"
@hhsecond, Tensorflow 2.0 has been released. https://www.tensorflow.org/install

Are there any changes which will prevent us from supporting both 1.14 as well as 2.0?

[2019-10-03 06:17] hhsecond commented on #126
Ideally No. I had verified our APIs with the experimental 2.0 already. But let's keep this issue open till I do proper verification now since 2.0 is out officially

[2019-10-03 06:24] rlizzo commented on #126
Ok. I'm gonna mark this as a potential bug until we get it figured out then. Let me know when you have more info.

[2019-10-08 04:23] #123 closed

[2019-10-08 05:50] rlizzo commented on #38
Closed in #128

[2019-10-08 05:50] #38 closed

[2019-10-09 13:54] rlizzo commented on #118
Hey @hhsecond just wanted to ping you on this since it seems like an appropriate feature for 0.3. If you don't have the time, I may have some next week. Let me know if you think you'll be able to take this

[2019-10-09 14:16] rlizzo commented on #122
This could be cool, but i won't have time for the next few weeks. Happy to help guide if there's anyone would wants to take the initiative here.

[2019-10-09 15:22] hhsecond commented on #118
@rlizzo I am finishing up the plugin module clean up (Sorry for the delay). I am sort of stuffed up till Wednesday with PyCon India and GPU stuffs from CircleCI. If you think this can wait till then, I am happy to take this up right after Wednesday

[2019-10-10 12:20] hhsecond opened #132 "[FEATURE REQUEST] More options through command line interface"
**Is your feature request related to a problem? Please describe.**
We need more options in our CLI for making few workflows seamless. Two examples I could think off
1. create dataset: We have repo init and data import through CLI but without the option to create a dataset through CLI, the user will always have to go through python APIs
2. commit: Now, if users import data using `hangar import`, th

[2019-10-10 12:26] rlizzo commented on #132
I'll take this. Will be done in the next week or ao

[2019-10-11 14:47] rlizzo opened #135 "[BUG REPORT] Multiprocess pytorch dataloaders"
**Describe the bug**
A clear and concise description of what the bug is.

The pytorch dataloader cannot currently be run with multiprocess workers:

[code]
This is because the the `BatchTuple` wrappers passed to `hangar.dataloaders.TorchDataset` are dynamically defined namedtuple classes, whose definition is not appropriately scoped for a forked subprocess to introspect it's name/contents upon pic

[2019-10-12 15:13] elistevens commented on #135
Make sure whatever option you pick works with having multiple `DataLoaders` in the main process, each loading something different.

[2019-10-14 07:37] jicksonp opened #136 "[BUG REPORT] Setup.py installation failing"
`python setup.py develop` command failed with below error message.

**Desktop (please complete the following information):**

 - OS: MacOs Mojave, 10.14.6
 - Python: 3.7.3, Anaconda
 - Hangar: master branch

[2019-10-14 07:57] vhawk19 opened #137 "Not able to import hangar"
`` import hangar ``
threw the error
`` Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/varun/hangar-py/src/hangar/__init__.py", line 5, in <module>
    from .remote.server import serve
  File "/home/varun/hangar-py/src/hangar/remote/server.py", line 18, in <module>
    from . import chunks
  File "/home/varun/hangar-py/src/hangar/remote/chunks.py", line 6, in

[2019-10-14 10:22] narendranss opened #138 "[BUG REPORT] OSError: symbolic link privilege not held"
**Describe the bug**
Following error is thrown post developer setup of Hangar in Windows machine while trying to assign a dummy image to repo array set - "OSError: symbolic link privilege not held"

Unexpected Behavior, Exceptions or Error Thrown

**To Reproduce**
Steps to reproduce the behavior, minimal example code:
[code]

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>

[2019-10-14 10:30] narendranss commented on #138
Working when command shell is run with Admin privileges.

[2019-10-14 10:30] #138 closed

[2019-10-14 11:21] ChandProj opened #139 "[BUG REPORT] TypeError: 'rdcc_nbytes' is an invalid keyword argument for this function"
**Describe the bug**
" TypeError: 'rdcc_nbytes' is an invalid keyword argument for this function" on saving an image to Hangar repository

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [  ] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck

**To Reproduce**
import hangar
repo=hangar.Repository('.')
repo.init(user_name='chandnika', user_email=

[2019-10-14 17:54] rlizzo commented on #136
Hey @jicksonp. I'll take a look into this tonight. thanks for the bug report! sorry this is giving you issues!

[2019-10-14 17:55] rlizzo commented on #137
Hey @vhawk19 I'll take a look at this tonight. Sorry this is giving you issues. Will report back soon!

[2019-10-15 04:17] rlizzo commented on #139
Hi @ChandProj, thanks for the bug report. Sorry you are having issues!

Thanks for the detailed bug report, but I was unable to recreate the bug as you described it (and have previously tested hangar in `colab`).

I copy/pasted the example code you provided in a `colab` project, and it runs as you can see at this link.

https://colab.research.google.com/drive/1dUYURo18UzNHp_59Fd0gYjtnadEJiAlD

Did

[2019-10-15 04:18] rlizzo commented on #135
Ahh excelent point. @lantiga, can you comment on this from a pytorch users perspective?

[2019-10-15 04:22] rlizzo commented on #138
Thanks for the bug report @narendranss! Sorry you had issues. I will take this into account and see if we can't remove the need for symbolic link privliges in a future release!

[2019-10-15 04:24] rlizzo opened #140 "Symbolic Link Priveliges"
Remove the need to symlink privliges. This would require some rework of the internal data storage dir organization, but would be nice to have as illustrated in #138

[2019-10-15 04:38] rlizzo commented on #136
Hey @jicksonp, thanks for the bug report. Sorry you're having issues!

I have a few potential solutions, but this is screaming of a compiler issue. I also use anaconda as my python package manager, and have also found some incompatibilities which the conda compiler while trying to build blosc.

### Solution 1

Repull the lastest changes from the master branch, and in a new conda environment (a cle

[2019-10-15 04:42] rlizzo commented on #137
Hey @vhawk19, thanks for the bug report, so sorry you are having issues!

Can you repull the latest changes in master and try to build this again in a clean environment? I just made some changes in #130 which might solve some of these issues.

Let me know if that works, if not I can debug further with you.

Best, Rick

[2019-10-15 06:08] ChandProj commented on #139
Hi ,
Thanks for the response.
Intsead of pip install hangar , I did git clone hangar-py.git and ran python setup.py develop

The link to colab notebook : https://colab.research.google.com/drive/1EoGWwalUGOO4R875rKfBd67dyZPfGKiD

The link to

[2019-10-15 06:44] elistevens commented on #135
Make the tuple class be named `'__'.join(['BatchTuple'] + field_names)`?

[2019-10-15 06:50] ChandProj commented on #139
However, when I did pip install hangar, no issues exist.

[2019-10-15 07:04] rlizzo commented on #139
Hey so I just tried it out, apparently google colab has an installation of `h5py` already available. However, it is `version 2.8.0` and Hangar requires `2.9.0`. If you retry your original notebook, but first `!pip install h5py==2.9.0` everything works!

[2019-10-15 07:18] GauthamPughaz commented on #118
@hhsecond, I am currently working on this issue.

[2019-10-15 07:21] ameen4455 opened #142 "Not able to init hangar"
`hanger init` threw the error
[code]

from python terminal
`repo.init('myrepo', user_name='username', user_email='email@.email.com')` threw the error

[code]

 - OS:
Python:3.6.4
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04.1 LTS"
NAME="Ubuntu"
VERSION="18.04.1 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.1 LTS"
VERSIO

[2019-10-15 07:31] rlizzo commented on #142
Hey @ameen4455, sorry to hear you're having issues!

How was this package installed? via `pip` or `conda-forge`?  or via a source build?

Also, if you could run

[code]

and report the output it would be helpful!

[2019-10-15 07:32] #139 closed

[2019-10-15 07:38] ameen4455 commented on #142
Hey! Thanks for the quick reply.
I installed the package using `pip`
Here are the details.
`{'host': [('python', "(3, 6, 8, 'final', 0)"), ('python-bits', '64'), ('OS', 'Linux'), ('OS-release', '4.4.0-17134-Microsoft'), ('machine', 'x86_64'), ('processor', 'x86_64'), ('byteorder', 'little'), ('LC_ALL', 'None'), ('LANG', 'C.UTF-8'), ('LOCALE', "('en_US', 'UTF-8')"), ('cpu-count', '8')], 'packages':

[2019-10-15 07:59] rlizzo commented on #142
No problem! That helps.

You wouldn't happen to be running this inside the Windows Subsystem for Linux would you?

[2019-10-15 08:02] rlizzo commented on #137
Also, you wouldn't happen to be running this in the windows subystem for linux, would you?

[2019-10-15 11:25] GauthamPughaz commented on #118
@hhsecond, I am working on the implementation of load method of the plugin. Will keep you updated.

[2019-10-17 15:01] lantiga commented on #135
Adding to `global` seems hacky to me. Adding field names as @elistevens would probably do it, but at that point the ability to unpickle depends on code execution.

Personally I'm ok with returning `dict` for now.

[2019-10-17 15:04] elistevens commented on #135
Does returning a dict prevent the PyTorch special handling for named tuples
from working? Or does it handle dict collation too?

On Thu, Oct 17, 2019 at 8:01 AM Luca Antiga <notifications@github.com>
wrote:

[2019-10-17 15:04] lantiga commented on #135
Hey Eli. Can you make an example?

[2019-10-17 15:32] elistevens commented on #135
[code]

[2019-10-17 15:52] elistevens commented on #135
I SUPPOSE I could have checked that myself.  ;)

[2019-10-17 17:20] jicksonp commented on #136
Hi @rlizzo, **Solution 1** worked fine. Thank you 👍

[2019-10-17 17:20] #136 closed

[2019-10-18 08:35] rlizzo commented on #135
So consensus is `dict` then? I'll put a PR together in the next day or so.

[2019-10-18 08:53] rlizzo commented on #136
👍  you are welcome!

[2019-10-18 20:11] #135 closed

[2019-10-21 13:03] rlizzo commented on #118
Hey @GauthamPughaz, just wanted to check in and see how this is going? do you need any assistance? Any ETA when we might be able to see a first draft (it doesn't need to be pretty, but it may save time if we can check out an overview of the flow and suggest any necessary changes before you get too far in development.)

Thanks for volunteering to contribute this! It's a great feature which will be

[2019-10-22 02:29] hhsecond opened #149 "[FEATURE REQUEST] Reporting utility for time consuming details"
**Is your feature request related to a problem? Please describe.**
Currently, we don't have time consumption reports generated for different operations such as data addition (and import through the plugin), etc.

**Describe the solution you'd like**
Figure out what all operations need to spit this info and print it out to the UI mentioning time taken by different modules

Suggestion from @lantiga

[2019-10-23 08:24] GauthamPughaz commented on #118
@rlizzo, I am halfway through it. I may need some assistance in understanding the internal working of arraysets to develop the feature better. I will consult this with @hhsecond. But, I am entirely held up this week and the next. I will be definitely available after that, and I would love to work on this feature.

[2019-10-23 17:46] rlizzo commented on #118
Ok. Thanks for the update! I think that you should definitely talk with either myself or @hhsecond before getting too far then.

You shouldn't actually have to care about how `arraysets` work internally to develop this feature. In general we don't allow any access to the internal workings of the `arraysets` outside of the public API, even for internal hangar operations. This is because the actual

[2019-10-23 19:13] GauthamPughaz commented on #118
@rlizzo , thanks for the clarification. I think we can have a call by Tuesday or Wednesday next week to wrap up this.

[2019-10-24 19:07] #132 closed

[2019-10-26 07:20] hhsecond commented on #126
@rlizzo Verified that I could create and consume tf dataset with `make_tf_dataset` using TF 2.0. However,  GPU is getting exhausted pretty soon (apparently we had this issue in tf1.14 as well). I am going to verify this in colab and will create another issue for that.

[2019-10-26 07:20] #126 closed

[2019-10-30 04:21] hhsecond commented on #118
@GauthamPughaz Let's do the call today? We would like to push this to the upcoming release (0.4) and hence the hurry. Sorry

[2019-11-05 05:08] hhsecond opened #157 "[FEATURE REQUEST] Ability to make tags"
**Is your feature request related to a problem? Please describe.**
Ability to create tags and checkout to tags is important especially when we try to make a wrapper like the stockroom

**Describe the solution you'd like**
After commit, like GitHub, the user should be able to tag. User should also be able to checkout to tags

[2019-11-05 05:27] hhsecond opened #158 "[BUG REPORT] NamedTuple doesn't like all the name formats hangar allows"
**Describe the bug**
`ArraysetData` namedtuple we create on `get` throws an error if the arrayset name contains `-` or `.` or if the name starts with `_` because of the restriction namedtuple has on field names. But since hangar allows arrayset names to have these characters, we need to handle it in someway

https://github.com/tensorwerk/hangar-py/blob/b2c00161bf33118669cc7af883b5e41c86c715ff/src/

[2019-11-05 08:54] elistevens commented on #157
FYI, I think that in the short term, branches can accomplish most of the needed functionality.

[2019-11-05 09:02] hhsecond commented on #157
Agreed, but adding tags is not a difficult task either. I see why'd you think that way but I had a need for this in the wrapper I was writing for hangar for model storage. Specifying commits (tags) over branches is bit more convenient there

[2019-11-05 14:08] rlizzo commented on #158
Ok. This is easy enough. I'll handle it in the next day orso. Thanks!

[2019-11-11 13:28] rlizzo commented on #157
So Sherin, I actually think this is one feature of git which I'd prefer not to emulate. Tags were added as kind of an afterthought, and have a couple really horrifying properties:

- Since there's nothing connecting them directly to the immutable history of the project, they don't offer any sort of guarantee there's something tagged version x.Y.Z will remain that exact same tag if the project to m

[2019-11-11 13:29] rlizzo commented on #79
Related to #162

[2019-11-11 15:03] #158 closed

[2019-11-11 17:00] rlizzo commented on #142
Closed due to inactivity.

[2019-11-11 17:00] #142 closed

[2019-11-11 19:52] rlizzo commented on #137
closed due to inactivity.

[2019-11-11 19:52] #137 closed

[2019-11-14 06:42] hhsecond opened #164 "[BUG REPORT] `repo.checkout` accepts `commit` argument when `write=True`"
**Describe the bug**
It's a UI issue on our `checkout` API. `commit` and `write=True` must be mutually exclusive since we are not returning write checkout on a particular commit. If we don't raise an error or warning when the user specifies a commit, user expectation might not be met

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [x] Unexpected Behavior, Exceptions or

[2019-11-21 14:59] #164 closed

[2019-11-22 13:07] vanangamudi opened #168 "[QUESTION & DOCS]: Comparison with DVC"
**Executive Summary**
How does this compare with DVC.

**Additional Context / Explantation**
I am not trying to start a flame war, but we spent quite a lot of time in investigating DVC[1] for our purpose. But one of my friend suggested to take a look at hangar. One key thing we really like about DVC is the metrics features. I read through the hangar docs, it looks a lot different from DVC but lot

[2019-11-22 20:16] hhsecond commented on #168
Hi Selva,
Thanks for trying out hangar and raising the issue. Assuming you are reaching here through Adam. If you have tried out DVC, you must be familiar with few downsides of DVC especially when it comes to performance. Hangar has another approach to version your data and it is built from ground up instead of relying on Git for versioning (storing tensors rather than blobs). We completely unders

[2019-11-26 12:26] rlizzo commented on #168
Hey @vanangamudi,

Thanks for waiting on a reply here! I'll expand a bit upon @hhsecond's excellent summary above.

# Executive Summary

At first glance, Hangar, DVC, and DAT might appear to solve similar(ish) problems: versioning, making use of, and distributing/collaborating on "data". However, **the implementation/design and world-view of each tool are drastically different; drastically impacti

[2019-11-26 13:13] rlizzo commented on #168
Also, since I never addressed your comment on DVC `"metrics"`.

Hangar is a much more focused project than DVC. Rather than try to handle both execution, results tracking, and pipelining of specific workflow (ML graphs / training) in the same tool which is responsible for versioning and accessing your Data, **we limit out scope to putting/retriving data on/from disk, versioning it, and enabling di

[2019-11-26 13:30] vanangamudi commented on #168
Hi @rlizzo , thanks for the comprehensive explanation.

[2019-12-04 13:01] rlizzo opened #172 "[BUG REPORT] Removing remote branches"
**Describe the bug**
A clear and concise description of what the bug is.

Removing a remote does not remove any tracked remote branches

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [x] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck

**Expected behavior**
A clear and concise description of what you expected to happen.

Removing a remote n

[2019-12-04 18:07] #140 closed

[2019-12-05 11:37] rlizzo opened #176 "[FEATURE REQUEST] Branch rebase and commit cherry-pick"
**Is your feature request related to a problem? Please describe.**

Implement `cherry-pick` and `rebase` like functionality.

**Describe the solution you'd like**

Though not a high priority, `cherry-picking` is one of the primitives required to implement a `git-like` `rebase` algorithm, which is the real goal.

While we have the `fast-forward` and `3-way` merge/diff primitives in place, we don't

[2020-03-04 07:19] rlizzo opened #181 "Commit Level Metadata"
May be mention that this metadata is commit level and will not be part of the history.

_Originally posted by @hhsecond in https://github.com/tensorwerk/hangar-py/pull/180_

[2020-03-08 18:23] hhsecond opened #185 "[BUG REPORT] Transaction registers closes early"
**Describe the bug**
In case of multiple columns, if we open only few of such columns in context manager and still tries to write on other columns inside the context manager, transactions get False. A sample script to reproduce is given below

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [x] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck

[2020-03-08 18:24] rlizzo commented on #185
Thanks for the report! I'll dig in asap

[2020-03-08 18:28] hhsecond commented on #185
Sure, I tried to spend some time but happy to take another look in a bit, in case you are tied up

[2020-03-08 20:05] hhsecond opened #186 "[BUG REPORT] Diff status always returns CLEAN inside CM"
**Describe the bug**
Diff status always returns CLEAN inside CM

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [x] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck

**To Reproduce**
[code]

[2020-03-19 08:20] hhsecond opened #189 "[BUG REPORT] Fetch data raises error witih default argument values"
**Describe the bug**
repo.remote.fetch_data('origin') will throw error and expect user to pass value for the optional parameters `branch` or `commit`

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [x] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck

**To Reproduce**
[code]

**Expected behavior**
[code]
should fetch the commit id from the ma

[2020-03-23 14:52] alessiamarcolini opened #190 "[BUG REPORT] repo.summary() breaks if there's no commits"
**Describe the bug**
Calling `repo.summary()` with a `repo` just initialized (i.e. with no commits) raises `ValueError`.

**Severity**
Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [x] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck

**To Reproduce**
[code]

**Expected behavior**
It should raise a warning instead of an exception, maybe with an informativ

[2020-04-30 12:05] hhsecond opened #200 "skbuild is a dependancy for blosc"
**Describe the bug**
Skbuild seems to be a dependency for blosc if installs through `install_requires` of hangar. Directly installing blosc using `pip install blosc` doesn't have any issues

**Severity**

Select an option:
- [ ] Data Corruption / Loss of Any Kind
- [x] Unexpected Behavior, Exceptions or Error Thrown
- [ ] Performance Bottleneck

**Desktop (please complete the following information

[2020-06-09 16:32] kurtsansom opened #205 "[QUESTION & DOCS]: hangar versus DVID?"
**Executive Summary**
 how does the approach of hangar compare with DVID? I am looking at how solutions to managing really large datasets, and stored ML models. The project [dvid](https://github.com/janelia-flyem/dvid) seems like its doing something similar to hangar?

I don't know enough about devops to be able to determine what kind of solution I could or should choose or what one is buying into

[2020-07-29 15:50] hhsecond opened #207 "[FEATURE REQUEST] Read checkout to be able to read data from staging area"
**Is your feature request related to a problem? Please describe.**
Currently, read checkout won't be able to read data from the staging area. I was wondering what would be the technical difficulties for reading data from staging area

**Describe the solution you'd like**
`repo.checkout(stage=True`) or something similar could give access to the staging area. I think the major bottleneck from implem

[2020-08-01 06:28] rlizzo commented on #207
This isn't the craziest thing to do from a technical standpoint, but I'm wondering what the motivation for allowing this is?

[2020-08-01 06:28] #200 closed

[2020-08-01 07:36] hhsecond commented on #200
@rlizzo This seems to be an issue even now

[2020-08-03 02:40] rlizzo commented on #189
Fixed in #208

[2020-08-03 02:40] #189 closed

[2020-08-03 04:16] #190 closed

[2021-11-12 13:27] zerafachris commented on #18
any updates on the dockerized server?

[2022-03-09 21:59] addisonklinke commented on #168
@rlizzo @hhsecond I've been looking for a version control system that can handle image pixels, and am really impressed by the comparison graphs you've shown against DVC. Thanks for all the effort the team put into building this tool from the ground up!

Unfortunately it looks like this project has gone stale though since the last commit was Sept 2, 2020. What happened in that regard? Is there anyt